<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>HeaderTitle</title>
</head>
<body>
	<wicket:panel>
		<table width="100%" style="background-color:#CFCFEF">
			<tbody><tr>
				<td width="25%">
				 <wicket:link>
				    <a href="/addressbook/getAllContacts">
				    <img alt="sk's Address book" src="/addressbook/images/logo.png" width="150" height="100">
				    </a>
				  </wicket:link>
				</td>
				<td width="33.3%"><h1>SK's Address Book</h1></td>
			</tr>
			</tbody>
		</table>	
	</wicket:panel>
</body>
</html>