<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>SK's Address Book - Home page</title>
<wicket:link>
	<link href="/addressbook/css/my.css" rel="stylesheet" type="text/css">
</wicket:link>
</head>
<body>
	<div id="header" wicket:id="headerPanel">Header</div>
	<div id="body">
		<div id="navigation" wicket:id="menuPanel">Menu</div>
		<div id="content" wicket:id="contentComponent">Content</div>
	</div>
	<div id="footer" wicket:id="footerPanel">Footer</div>
	<br />
	<br />
	
</body>
</html>