<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
	<wicket:panel>
		<div id="menutTitle"><p><H2>&nbsp;&nbsp;Menu</H2></p></div>
		<ul class="menuItems">
			<li><a class="Offmouse" href="./addContact" id="addContact" >Add</a></li>
			<li><a class="Offmouse" href="./getAllContacts" id="getAllContacts">Search</a></li>
			<li><a class="Offmouse" href="./logout" id="logout">Log Out</a></li>
		</ul>
	</wicket:panel>
</body>
</html>